@font-face {
    font-family: "Incosolata";
    src: url(Inconsolata.otf);
}
#heure{
  display: inline-block;
}

body {
   font: 30px Incosolata, Zapf Chancery, cursive;
   background: CornSilk;
   background-size:cover;
  }

a{
	color:#E6E6FA;
	text-decoration:none;
}

a:hover{
	color:#E6E6FA;
	text-decoration:none;
}

.form-group{
margin-top:5px;
margin-bottom:5px;
}


#loginForm{
	position:relative;
	float:right;
	margin-right:50px;
	margin-top:-80px;
	width:200px;
	height:10px;
	font-size:11px;
}

#loginInf{
	position:relative;
	float:right;
	margin-right:30px;
	margin-top:-40px;
	width:300px;
	height:10px;
	font-size:20px;
}

#main , #nav3{
   height: 600px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }

  #main > article , #nav3{
   margin: 16px;
   padding: 10px;
   border: 1px solid #1A1A1A;
   background:rgba(90, 100, 70, 0.6);
   -webkit-flex: 3 1 40%;
           flex: 3 1 40%;
   -webkit-order: 3;
           order: 3;
   border-radius: 10px;
   }

   #main > article:hover {
		background:rgba(145, 80, 77, 0.8);
    border-radius: 10px;
   }


  #main > #nav1 {
   margin: 16px;
   padding: 10px;
   border: 1px solid #FFFFFF;
   background:rgba(90, 100, 70, 0.6);
   color:#FFFFFF;
   -webkit-flex: 1 6 30%;
           flex: 1 6 30%;
   -webkit-order: 2;
           order: 2;
   overflow: scroll;
   overflow-x: hidden;
   border-radius: 10px;
   }

   #main>#nav1:hover{
		background:rgba(70, 90, 140, 0.8);
    border-radius: 10px;
   }

  #main > #nav2 , #nav3{
   margin: 16px;
   padding: 10px;
   border: 1px solid #FFFFFF;
   background:rgba(90, 100, 70, 0.7);
   color:#FFFFFF;
   -webkit-flex: 1 6 30%;
           flex: 1 6 30%;
   -webkit-order: 1;
           order: 1;
   overflow: scroll;
   overflow-x: hidden;
   border-radius: 10px;
   }

   #main>#nav2:hover, #nav3{
		background:rgba(140, 70, 70, 0.6);
   }

  header {
   display: block;
   text-align: center;
   margin: 16px;
   padding: 10px;
   min-height: 150px;
   border: 1px solid #FFFFFF;
   border-radius: 7pt;
   background: DarkSalmon;
   color: #FFFFFF;
   }

   footer {
   display: block;
   text-align: center;
   margin: 16px;
   padding: 10px;
   min-height: 50px;
   border: 1px solid #FFFFFF;
   border-radius: 7pt;
   background: #4D4D4D;
   color:#FFFFFF;
   }

  header:first-letter, footer:first-letter{
    font-size: 160%;
  }
  /* Too narrow to support three columns */
  #nameNewSond{
	color:black;
	width:100%;
 }
 #nameNewQuestion{
 color:black;
 width:100%;
}
 .icones{
 cursor:pointer;
 }
  @media all and (max-width: 640px) {

  header, footer {
  background: #4D4D4D;
  min-height: 60px;
  }

   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > #nav1, #main > #nav2, #nav3 {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > #nav1, #main > #nav2, header, footer, #nav3 {
    min-height: 150px;
   }
  }

  #btn_valider, #btn-answer{
    color: black;
  }

#Adecaler{
    margin-left: 20px;
  }

li{
  list-style:none;
}
