<html>
<head>
<meta charset="utf-8"/>
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-theme.css')}}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/flex.css')}}"/>
{% endblock %}
{% block js %}
    <script src="{{
      url_for('static', filename='js/jquery.min.js')
    }}">
    </script>
    <script src="{{
      url_for('static', filename='js/jquery-ui/jquery-ui.min.js')
    }}">
    </script>
    <script>


    $(function(){
      var terminer=true;
      $("#heure").text="0";

      var timerIni=0;
      var inter = setInterval(Horloge,1000);

      function Horloge(){
        if(timerIni<30){
          timerIni++;
          $("#heure").text(timerIni);
        }
        else{
          procedure();
        }
      }

      function procedure(){

      }
    });
    </script>
{% endblock %}



</head>
<body>
  <h1>Répondre à un sondage</h1>
  <nav id="nav3">
  <div id="currentquestion">
    <form id="frm_qcm">
        {% for elem in Lquestion %}
          <fieldset id="f{{ elem.id }}">
            <legend>Question {{ elem.title }}</legend>
             <table>
             <tr>
             <td style="vertical-align: top;">
             <label>{{ elem.title }}</label>
             </td>
               {% if elem.firstAlternative!="" %}
                <td>
                  <ul>
                    <li><input type="radio" name="q{{elem.id}}" id="q{{elem.id}}_first" value="{{ elem.firstAlternative }}" />{{ elem.firstAlternative }}</li>
                    <li><input type="radio" name="+q{{elem.id}}" id="q{{elem.id}}_second" value="{{ elem.secondAlternative }}" />{{ elem.secondAlternative }}</li>
                    <input type="hidden" id="q{{elem.id}}_rep" value="{{ elem.reponse }}"/>
                  </ul>
                </td>
                {% else %}
              <td>
                <ul>
                  <li><input type="text" id="q{{elem.id}}_text"/>
                      <input type="hidden" id="q{{elem.id}}_rep" value="{{ elem.reponse }}"/>
                </ul>
              </td>
              {% endif %}
              </tr>
                </table>
            </fieldset>
        {% endfor %}

    </form>
  </div>

</nav>
<div id="Adecaler">
  {% block timer %}
  <p>30 secondes pour répondre.</p>Timer : <p id="heure">0</p><br>
  {%endblock %}
  <button id="btn_valider">Valider</button>
  <div id="boite_dialogue_resultat"
  title="Résultat">
  <p id="message"></p>
</div>
</div>
</body>
</html>
