{% extends "flexBS.html" %}
{% block js %}
{{ super() }}
<script>
//Gestion des click
$().ready(function(){
  $("#sondageRefresh").on("click", refreshSondagesList);
	$("#question #add").on("click",newQuestion);
	$("#question #delete").on("click", delQuestion);
	$("#sondage #add2").on("click", newSondage);
	showCurrentSondage();
	$("#add").hide();
	$("#delete").hide();
  $("#btn-answer").hide();
	$("#text_currentSondage").empty();
});

//===============================================================Sondages======================================================================

function Sondage(name){
	this.name = name;
}

function Repondre(event){
  window.location.href="http://localhost:5000/api/repondre/"+$("#val_currentSondage").val();
}

//Changement de sondage courant
//Lors d'un click sur un sondage on change le sondage courant
// et on affiche les questions correspondantes
function switchSond(event){
  $("#delete").hide();
  $("#add").show();
  $("#currentquestion").empty();
  $("questions").empty();
  $("#val_currentSondage").val(event.data['id']);
  refreshSondagesList();
  refreshQuestionsList();
  $("#btn-answer").show();
  showCurrentSondage(event.data['name']);
}

//Affichage du nom du sondage courant en haut de page
function showCurrentSondage(name){
  $("#text_currentSondage").empty();
  if($("#val_currentSondage").val())
    $("#text_currentSondage").text("Sondage courant : "+name);
}

//Formulaire de creation d'un sondage
function newSondage(){
  $("#newSond").remove();
  $("#sondages").append($("<span id='newSond'></span>")
  .append($("<input type='text' id='nameNewSond' placeholder='Nom du sondage'>"))
  .append($("<input tpye='button' class='btn btn-default' value='Ajouter' id='saveSond'>")
  .on("click",saveNewSondage)));
}


//Fonction pour sauvegarder le sondage
//Crée un sondage
function saveNewSondage(){
  var sond = new Sondage($("#sondages #newSond #nameNewSond").val());
  $.ajax({
    url: "http://localhost:5000/api/sondages",
    type: "POST",
    contentType:"application/json",
    data: JSON.stringify(sond),
    datatype: "json"
  });
  $("#newSond").remove();
	refreshSondagesList();
}

//Fonction pour supprimer un sondage
function delSondage(event){
  $.ajax({
    url: event.data.sondage_url,
    type: "DELETE",
    datatype: "json",
    success:function(){
      console.log("Successfully deleted sondage");
      $("#val_currentSondage").val("");
      showCurrentSondage("");
      $("add").hide();
      refreshSondagesList();
    },
    error:function(){
      console.log("Error deleting sondage");
    }
  });
}

//On recupere et affiche les sondages
function refreshSondagesList(event){
 // à compléter
 $.ajax({
   url : "http://localhost:5000/api/sondages",
   type : "GET",
   datatype: "json",
   success: function(data){
     $("#sondages").empty();
     $("#sondages").append($("<ul>"));
     for(var i=0; i<data.sondages.length; i++){
        if($("#identifiant").val()=="admin"){
         $("#sondages ul").append($("<li>")
         .append($("<span>")
         .append($("<a>").text(data.sondages[i].name))//.attr("href",data.sondages[i].sondage_url)
         .on("click", data.sondages[i], switchSond))
         .append($("<span id='delete' class='glyphicon glyphicon-remove icones' style='margin-left:5px;' aria-hidden='true'></span>")
         .on("click", data.sondages[i], delSondage)));
       }
       else{
         $("#sondages ul").append($("<li>")
         .append($("<span>")
         .append($("<a>").text(data.sondages[i].name))//.attr("href",data.sondages[i].sondage_url)
         .on("click", data.sondages[i], switchSond)));
       }
     }
   },
   error: function(req, status, err){
     $("#sondages").html("<b>Impossible de recuperer les quizz, Vérifiez que vous êtes bien connecté</b>");
   }
 });
}

//====================Questions============================

function SimpleQuestion(title, first, second, sond_id,firstChecked){
	this.title = title;
	this.firstAlternative = first;
	this.secondAlternative = second;
	this.sondage_id = sond_id;
  this.firstChecked = firstChecked;
}
/* Rafraichir la liste des questions du sondage selectionné */
function refreshQuestionsList(event){
  $.ajax({
    url : "http://localhost:5000/api/sondages/"+$("#val_currentSondage").val()+"/questions",
    type : "GET",
    datatype: "json",
    success: function(data){
      $("#questions").empty();
      $("#questions").append($("<ul>"));
      for(var i=0; i<data.questions.length; i++){
        if($("#identifiant").val()=="admin"){
          $("#questions ul").append($("<li>")
          .append($("<span>")
          .append($("<a>").text(data.questions[i].title))
          .on("click", data.questions[i], formQuestion))//.attr("href",data.sondages[i].sondage_url);
          .append($("<span id='delete' class='glyphicon glyphicon-remove icones' style='margin-left:5px;' aria-hidden='true'></span>")
          .on("click", data.questions[i], delQuestion)));
        }
        else{
          $("#questions ul").append($("<li>")
          .append($("<span>")
          .append($("<a>").text(data.questions[i].title))
          .on("click", data.questions[i], formQuestion)));//.attr("href",data.sondages[i].sondage_url););
        }
      }
    },
    error: function(req, status, err){
      $("#questions").html("<b>Impossible de recuperer les quizz, Vérifiez que vous êtes bien connecté</b>");
    }
  });
}

function newQuestion(){
  current = $("#currentquestion");
  current.empty();
	$("#newQuestion").remove();
		current.append($("<input type='text' id='titre' placeholder='Nom de la question'>"))
		.append($("<input type='text' id='firstA' placeholder='Première alternative'>"))
		.append($("<input type='text' id='secondA' placeholder='Deuxième alternative'><br>Bonne réponse :<br>"))
		.append($("<input type='radio' name='check' id='firstChecked' checked> Première<br>"))
		.append($("<input type='radio' name='check'> Deuxième<br>"))
		.append($("<input type='button' class='btn btn-default' value='Sauvegarder la question' id='saveQuestion'>")
		.on("click", saveNewQuestion));
}

//Fonction de validation pour l'ajout d'une nouvelle question
function saveNewQuestion(){
	// à compléter
  var quest = new SimpleQuestion(
    $("#currentquestion #titre").val(),
    $("#currentquestion #firstA").val(),
    $("#currentquestion #secondA").val(),
    $("#val_currentSondage").val(),
    $("#currentquestion #firstChecked").is(':checked')
  );
  $.ajax({
    url: "http://localhost:5000/api/questions",
    type: "POST",
    contentType:"application/json",
    data: JSON.stringify(quest),
    datatype: "json"
  });
  $("#currentquestion").empty();
  $("#add").show();
	refreshQuestionsList();
}

//Lorsqu'on clique sur une question,
// présente le formulaire d'edition
// avec les données courantes de la question
function formQuestion(event){
	$("#add").show();
	current = $("#currentquestion");
	var title = event.data['title'];
	var firstAlternative = event.data['firstAlternative'];
	var secondAlternative = event.data['secondAlternative'];
  var firstChecked = event.data['firstChecked'];

	var url = event.data['url'];
	current.empty();
  if($("#identifiant").val()=="admin"){
    current = $("#currentquestion");
    current.empty();
    $("#newQuestion").remove();
      current.append($("<input type='text' id='titre' placeholder='Nom de la question'>"))
      .append($("<input type='text' id='firstAlternative' placeholder='Première alternative' value=''>"))
      .append($("<input type='text' id='secondAlternative' placeholder='Deuxième alternative value='''><br>Bonne réponse :<br>"))
      .append($("<input type='radio' name='check' id='firstChecked'> Première<br>"))
      .append($("<input type='radio' name='check' id='secondChecked'> Deuxième<br>"))
      .append($("<span><input type='hidden' value='' id='url' /></span>"))
      .append($("<span><input type='button' class='btn btn-default' value='Sauvegarder la question' id='saveEditQuestion'><br></span>")
             .on("click",saveEditQuestion));
  	$("#titre").val(title);
  	$("#firstAlternative").val(firstAlternative);
  	$("#secondAlternative").val(secondAlternative);
    $("#secondAlternative").val(secondAlternative);
    if(firstChecked == true){
      $("#firstChecked").prop('checked', true);
    }
    else{
      $("#secondChecked").prop('checked', true);
    }
  	$("#url").val(url);
  }
}

function lireReponse(event){
  if($('#firstAlternative1').is(':checked')){
    console.log("Vous avez répondu la première alternative ");
  }
  else if ($('#secondAlternative1').is(':checked')) {
    console.log("Vous avez répondu la seconde alternative ");
  }
}

//Fonction ajax pour editer une question
function saveEditQuestion(event){
	var question = new SimpleQuestion(
		$("#currentquestion #titre").val(),
		$("#currentquestion #firstAlternative").val(),
		$("#currentquestion #secondAlternative").val(),
		$("#val_currentSondage").val(),
    $("#currentquestion #firstChecked").is(':checked')
	);
  console.log($("#currentquestion #url").val());
	$.ajax({
		url: $("#currentquestion #url").val(),
		type: "PUT",
		contentType: "application/json",
		data: JSON.stringify(question),
		dataType: "json",
		success:function (msg){
			console.log('success update');
			$("#currentquestion").empty();
			$("#add").show();
			refreshQuestionsList();
		},
		error:function (err){
			console.log('Update error');
		},
	});
}

//Suppression Question
function delQuestion(event){
  $.ajax({
    url: event.data.url,
    type: "DELETE",
    datatype: "json",
    success:function(){
      refreshQuestionsList();
    },
    error:function(){
      console.log("Suppression échouée");
    }
  });
}
</script>
{% endblock %}

{% block questions %}

  <div id="questions">

  </div>

{% endblock %}

 {% block editor %}
  <div id="currentquestion">

  </div>

 {%endblock %}
{% block surveys %}
  <span id="sondageRefresh"
          class="glyphicon glyphicon-refresh icones"
          aria-hidden="true">
  </span>
  <div id="sondages">

  </div>
  <div id="boite_dialogue_resultat">
    <p id="message"></p>
  </div>
{% endblock %}
